<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xm.mapper.StudentMapper">

    <!-- 根据学号查询学生 -->
    <select id="getById" parameterType="String" resultType="Student">
        select * from student where sno=#{sno}
    </select>

    <!-- 查询所有学生 -->
    <select id="list"  resultType="Student">
        select * from student
    </select>
    
    <!-- 查询所有学生成绩 -->
    <select id="grade"  resultType="map">
        select sname,cname,grade from sc,course,student where sc.sno=student.sno and sc.cno=course.cno order by sname
    </select>
    
    <!-- 插入一个学生 -->
    <insert id="insert" parameterType="Student">
        insert into student(sno,sname,ssex,sage,sdept) values(#{sno},#{sname},#{ssex},#{sage},#{sdept})
    </insert>

    <!-- 根据学号修改学生信息 -->
    <update id="update" parameterType="Student" >
        update student set sname=#{sname},ssex=#{ssex},sage=#{sage},sdept=#{sdept} where sno=#{sno}
    </update>

    <!-- 根据学号删除学生 -->
    <delete id="delete" parameterType="String" >
        delete  from student where sno=#{sno}
    </delete>
</mapper>